.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.img-prod img {
  width: 147px;
  float: left;
  padding: 19px;
}
.subm-button {
  width: 147px;
  float: right;
  background-color: #40bb5e;
  left: -22px;
  position: relative;
  padding: 5px;
  color: #fff;
  border-radius: 12px;
  transition-duration: 0.3s;
}
.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
li {
  text-align: left;
}
ul {
  width: 50%;
  float: left;
}
svg {
  font-size: 27px;
  padding: 20px;
}
svg.svg-inline--fa.fa-check {
  color: green;
}
svg.svg-inline--fa.fa-pen-to-square {
  color: #485cbf;
}

.img-prod {
  width: 147px;
}
.card {
  height: 169px;
  display: block;
  /* border-top: 1px solid #dbdbdb; */
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 16px;
  padding-top: 16px;
}